html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("image/main.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    z-index: -1;
    -webkit-animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    /*
        移动端适配
    */
}